<section class="h-dvh flex flex-col items-center relative ">
  <img
    class="absolute inset-0 object-cover w-full h-full"
    loading="lazy"
    src="/about-this-creation-bg.webp"
    alt="creation background"
  />
  <div class="relative z-10 text-center w-[50%] h-full">
    <h2 class="font-noto font-semibold text-wine text-[5rem] tracking-[-0.4rem] my-16">
      sobre esta creación...
    </h2>
    <div class="flex flex-col gap-6 text-2xl tracking-widest">
      <p>
        algo que ha cambiado mi vida radicalmente es comprender el
        funcionamiento del sistema nervioso.
      </p>
      <p>
        Conocer sobre él, sus funciones (protegernos), sus metas
        (supervivencia), sus heridas (traumas) y sus mecanismos defensivos
        (lucha, huida, congelamiento) me permitió integrar otra dimensión de mi
        que no tenía.
      </p>
      <p>
        Comprendí que no es que “soy un fracaso por no regular mis emociones”, o
        “soy débil por no dominar mi mente”, tampoco estoy “rota” por no lograr
        conectar siempre con mi cuerpo, ni soy “mala persona” por no estar
        siempre disponible para los demás.
      </p>
      <p>
        Me trajo seguridad, orden, confianza y conexión. En mi, en lo sagrado de
        mi cuerpo y en lo divino que habita en cada molécula de nuestro Ser. Me
        permitió despertar y volver a mi esencia.
      </p>
      <p>
        Te cuento toda esta experiencia para invitarte a que también explores en
        vos, en tu cuerpo, en tu sistema nervioso, en tu energía y
        espiritualidad. ¿Cómo? A través de este programa del amor
      </p>
    </div>
  </div>
  <footer
    class="text-whiteVariation flex items-center flex-col gap-4 bg-wine w-full relative text-2xl tracking-widest py-10 z-10"
  >
  <div class="w-[50%] flex flex-col gap-4">
    <p>
      <span class="underline underline-offset-4">Encuentros en vivo:</span> todos
      los jueves 18.30hs arg
    </p>
    <p class="flex flex-col gap-1">
      <span>
        fecha de inicio: <span class="font-bold">jueves 6/6</span>
      </span>
      <span>
        fecha de cierre: <span class="font-bold">jueves 20/9</span>
      </span>
    </p>
  </div>
    
  </footer>
</section>
