<section class="min-h-dvh relative p-20">
  <img
    class="absolute inset-0 w-full object-contain"
    src="/belu.webp"
    alt="belen vitullo image"
  />
  <div class="relative z-10 bg-bgPrimary p-10 text-center w-[40%] mt-20 tracking-[0.4rem] text-brown flex flex-col gap-8 text-xl rounded-3xl">
    <h2 class="font-bold">SOY BELU VITULLO</h2>
    <p>LIC. EN PSICOLOGÍA Y MASTER EN NEUROCIENCIAS.</p>
    <p>CANCERIANA DE 30 AÑOS.</p>
    <p>PROYECTORA 5/1 (DISEÑO HUMANO).</p>
    <p>
      AMANTE DEL ESTUDIO, EL CUERPO Y EL CEREBRO HUMANO. ACOMPAÑO PERSONAS A
      VINCULARSE CONSIGO MISMAS DESDE HACE 8 AÑOS, EXPERIMENTANDO DESDE LA
      PSICOTERAPIA, EL YOGA, EL REIKI Y ENSEÑANDO LO QUE CREO QUE DEBERÍAMOS
      SABER: NUESTRO SISTEMA NERVIOSO.
    </p>
    <p>
      MI PROPÓSITO ES GUIAR PERSONAS A ENCONTRAR SU AUTENTICIDAD DESDE CUERPO,
      MINDSET Y ALMA.
    </p>
  </div>
</section>
