<section
  class="min-h-dvh text-center tracking-widest text-2xl my-16 flex flex-col items-center"
>
  <div class="relative pb-56">
    <h2
      class="font-noto font-semibold text-wine text-[5rem] tracking-[-0.4rem]"
    >
      Un pasaje directo a tu
    </h2>
    <img
      class="absolute -top-7 left-44 h-72"
      src="/text-authenticity.webp"
      alt="authenticity text image"
    />
  </div>
  <div class="flex flex-col gap-10 w-[50%]">
    <p>
      CADA CUERPO ES <span class="italic font-bold">UNICO</span> , TIENE SU PROPIA
      FORMA DE HABLAR. A LO LARGO DE MI CARRERA ME HE DADO CUENTA ALGO EN COMÚN,
      CUANDO UNO NO LO ESCUCHA CON SEÑALES “LEVES”, EL CUERPO COMIENZA A MANIFESTAR
      SINTOMAS Y HASTA ENFERMEDADES PARA LLAMAR NUESTRA ATENCIÓN.
    </p>
    <p>
      MI PUNTO DE VISTA ES QUE <span class="underline underline-offset-4"
        >TODO SÍNTOMA FISICO ALOJA UN MENSAJE</span
      > QUE NUESTRO SER VIENE A TRAERNOS A TRAVES DEL CUERPO. NO SOLO DE EMOCIONES
      NO COMUNICADAS O TRAUMAS NO SANADOS, NUESTROS Y DEL CLAN , SINO DE INCOHERENCIAS
      QUE ESTAMOS SOSTENIENDO QUE NO SON FUNCIONALES NI VIBRAN CON NUESTRA VERDADERA
      ESENCIA Y FRECUENCIA.
    </p>
    <p>
      ¿<span class="font-bold"
        >cómo sería CONOCERLO TANTO, QUE LO TERMINES AMANDO</span
      >?
    </p>
  </div>
  <h2 class="font-noto font-semibold text-wine text-[5rem] tracking-[-0.4rem] my-16">
    Temario
  </h2>
  <ul class="text-start list-disc flex flex-col gap-2">
    <li>CEREBRO Y SISTEMA NERVIOSO</li>
    <li>TRAUMA - LAS HERIDAS DE NUESTRO SIST NERVIOSO</li>
    <li>“LAS TRAMPAS DE LA MENTE”</li>
    <li>“¿ADICTA A MIS EMOCIONES?”</li>
    <li>RESPUESTA DEL ESTRÉS Y SU IMPACTO EN EL CUERPO</li>
    <li>HABITANDO LOS RITMOS DE MI CUERPO</li>
    <li>“AMOR PROPIO EN TIEMPOS DE DESREGULACIÓN”</li>
    <li>7 CUERPOS - 7 CHAKRAS</li>
    <li>NEUROCIENCIAS Y ESPIRITUALIDAD</li>
    <li>CAMPO NEURO-CUÁNTICO</li>
    <li>“EL LADO OSCURO DEL AUTOCONOCIMIENTO”</li>
    <li>¿CÓMO SER AUTÉNTICA EN ESTA REALIDAD?</li>
  </ul>
</section>
