<section
  class="font-cloud text-whiteVariation relative p-10 h-dvh flex items-center justify-center text-xl tracking-widest"
>
  <img
    class="object-cover w-full h-full absolute inset-0"
    src="/hero-background.webp"
    alt="background image"
    loading="eager"
  />
  <div
    class="relative z-10 mx-auto text-center flex-col flex gap-2 items-center"
  >
    <span>belen vitullo - psicomentora nueroquantica</span>
    <div>
      <h1
        class="font-noto border-y border-whiteVariation text-[12rem] tracking-tighter leading-none my-8 py-36 relative"
      >
        hablando <span class="block text-7xl tracking-[-0.3rem] text-start"
          >con tu 
      </h1>
      <img class="absolute w-[600px] top-[22rem] right-56" src="/text-cuerpo.webp" alt="text: cuerpo"></span>
    </div>
    <div class="flex flex-col gap-6 items-center w-[90%] text-balance">
      <h2>un viaje hacia tu sist. nervioso y cuerpo</h2>
      <h2>
        4 meses para reconectar con lo que jamas te han enseñado a sentir... tu
        cuerpo
      </h2>
      <h2>¿estas lista?</h2>
      <a
        class="bg-wine rounded-md px-4 py-2 underline underline-offset-4"
        target="_blank"
        rel="noopener noreferrer"
        href="https://siendoinfinita.tiendup.com/e/hablando-con-tu-cuerpo-0"
        >residentes argentina y resto del mundo</a
      >
    </div>
  </div>
</section>
