---
import HeroSection from '@/components/sections/hero-section.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="bg-bgPrimary min-h-dvh uppercase">
		<HeroSection />
	</main>
</Layout>

